{{ define "main" }}

<div class="schedule-container">
    <table border="1">
        <thead>
          <tr>
            <th>Week</th>
            <th>Module</th>
            <th>Date(s)</th>
            <th>Time(s) in Irish Time</th>
            <th>Volunteer Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <td rowspan="4">Duration is 2 - 4h split between two sessions on Saturdays and Sundays.</td> -->
            <td>1.</td>
            <td>
                String, Array, List <br>
                Techniques:<br>
                * Sliding Window<br>
                * Two Pointers<br>
                * Precomputation (Prefix sum)<br>
            </td>
            <td>-</td>
            <td>15:00 - 17:00<br>10:00 - 12:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Map, Set</td>
            <td>-</td>
            <td>15:00 - 17:00<br>10:00 - 12:00</td>
            <td>Ini Akinleye</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>
                LinkedLists - Singly, Doubly and Circular<br>
                Techniques:<br>
                * Fast and Slow pointers<br>
                * In-place reversal<br>
            </td>
            <td>-</td>
            <td>15:00 - 17:00<br>10:00 - 12:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>4.</td>
            <td>Stacks, Queues</td>
            <td>-</td>
            <td>15:00 - 17:00<br>10:00 - 12:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>5.</td>
            <td>Other Techniques:<br>* Recursion</td>
            <td>-</td>
            <td>15:00 - 17:00<br>10:00 - 12:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td colspan="5" style = "padding-left: 40px;">
                Problem Solving Week I <br>
                <ul style="padding-left: 60px;">
                    <li> Binary Searrch</li>
                    <li> Intervals</li>
                    <li> Backtracking</li>
                    <li> Maps/Sets</li>
                    <li>Strings (Palindromes, etc)</li>
                </ul>
            </td>
            </tr>
            <tr>
            <td>6.</td>
            <td>Tree<br>* Binary Search Trees<br>* DFS, BFS</td>
            <td>-</td>
            <td>15:00 - 17:00<br>15:00 - 17:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>7.</td>
            <td>Mock Interview(s)<br>Session 1: 2 Volunteers<br>Heaps I (Theory)<br>
                <br>
                Miscellaneous:<br>
                <ul style = "padding-left: 25px;">
                    <li> Introduction of Projects and Hackerrank I Contest</li>
                </ul>
                </td>
            <td>-</td>
            <td>15:00 - 17:00<br>15:00 - 17:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>8.</td>
            <td>Session 2: 1 Volunteer & 1 Learner<br>Heap II<br>Techniques:<br>* Find median of a stream<br>* Top K</td>
            <td>-</td>
            <td>15:00 - 17:00<br>15:00 - 17:00</td>
            <td>Chinemerem Enuma</td>
          </tr>
          <tr>
            <td colspan="5" style = "padding-left: 40px;">
                Problem Solving Week II
                <ul style="padding-left: 60px;">
                    <li> Trees</li>
                    <li> Heaps</li>
                </ul>
            </td>
          </tr>
          <tr>
            <td>9.</td>
            <td>Graphs<br>* DFS, BFS<br>* Topological sort, Dijkstra</td>
            <td>-</td>
            <td>15:00 - 17:00<br>15:00 - 17:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>10.</td>
            <td>Tries<br>CV Session</td>
            <td>-</td>
            <td>15:00 - 17:00<br>15:00 - 17:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>11.</td>
            <td>Dynamic Programming<br>* Tabulation<br>* Memoization</td>
            <td>-</td>
            <td>15:00 - 17:00<br>15:00 - 17:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td colspan="5" style = "padding-left: 40px;">Problem Solving Week III
            <ul style="padding-left: 60px;">
                <li> Graphs</li>
                <li> Dynamic Programming</li>
            </ul>
        </td>
        </tr>
          <tr>
            <td>12.</td>
            <td>Exams (Obj) [Monday - Sunday]<br>Project Demo (Saturday)</td>
            <td>-</td>
            <td>15:00 - 17:00<br>15:00 - 17:00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>14.</td>
            <td>Hackerrank Test (Wednesday - Friday)<br>Graduation (Saturday)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>      
</div>
{{ end }}
