.big-container{
    min-height: 88vh;
    display: flex;
    place-items: center;
}
.cohorts-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
    margin-bottom: 20%;
    margin-top: 10%;
}

.watermark{
    position: fixed;
    top: 50%;
    left: 0px;
}

.cohorts-container h1{
    font-size: 2.5rem;
    padding-top: 5vw;
}

.accordion-section{
    width: 100%;
    max-width: 887px;
    align-items: center;
    font-weight: 400;
    padding: 0 20px 40px;
    margin-left: auto;
    margin-right: auto;
}

.accordion{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 50px 18px 7px;
    font-size: 1.5rem;
    text-align: left;
    line-height: 29px;
    transition: 0.4s;
    outline: none;
}

.accordion:after{
    content: '\02039';
    transform: rotate(270deg);
    font-size: 28px;
    color: #FFFFFF;
    float: right;
    margin-left: 5px; 
    transition: 0.4s;
} 

.accordion.active::after{
    content: '\02039';
    transform: rotate(90deg);
    float: right;
}

.panel {
    padding: 10px 18px 0px;
    left: 10px;
    max-height: 0;
    color: #FFFFFF;
    overflow: auto;
    transition: max-height 0.4s ease-out;
    margin-bottom: 18px;
}

.panel::-webkit-scrollbar{
    display: none;
}

.accordion-section hr{
    border: 1px solid #7E8180;
}

@media screen and (max-width: 780px){
    .cohorts-container h1 {
        font-size: 2rem;
    }

    .accordion {
        font-size: 1rem;    
    }
}