.main-container {

    /* display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px; */
  }

  .founders-container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--body-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: rowS;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    /* z-index: 0; */
  }

  .founders-letter {
    /* background-image: url("/images/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 45%;
    gap: 28px;
    color: var(--text-color); 
    padding: 1rem;
  }

  .portrait {
    padding: 1rem;
    margin-right: 5rem;
  }

  @media (max-width: 768px) {
    .founders-container {
        flex-direction: column; 
        align-items: center; 
    }

    .portrait {
        padding-right: 0; 
        margin: 0 auto;
    }

    .portrait img {
      width: 90%;
    }

    .founders-letter {
        width: 80%; 
        text-align: center; 
    }
}