.testimonial-container {
  background-color: var(--nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  min-height: 100vh;
}
.title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
.testimonials-section {
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 28px;
  color: var(--text-color);
  padding: 1rem;
}

.testimonials-section > p{
  font-size: 1.25rem;
}
.quote {
  width: 50px;
  height: 35px;
}

.testimonial-item {
  display: inline-flex;
  gap: 30px;
  background: #1a1a1a;
  padding: 16px;
  border-radius: 8px;
  border: 0.5px #4f4f4f solid;
}
.message {
  font-size: 24px;
  font-weight: 600;
}
.name {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.position {
  color: rgb(150, 150, 150);
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
}
